@import "../../../static/variables";

.experience-container {
    width: 50%;
}

.margin-bottom {
    margin-bottom: 3em;
}

.education-container {
    max-width: 85%;
    width: 700px;
}

.title {
    text-decoration: overline;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.see-more {
    color: $weak-text-color;
    font-style: italic;
    margin-bottom: 10px;
}


@media screen and (max-width: $phone-width) {
    .experience-container {
        width: 90%;
        margin-top: 2.5em;
    }

    .margin-bottom {
        margin-bottom: 2em;
    }

    .education-container {
        max-width: 100%;
        width: 100%;
    }
}
